{% extends "base.html" %}
{% block content %}
	<h3> Home Page </h3>
	<p align="center"><a href=/slack ><button class="button1">Press here to send message in slack </button></a></p>
	<p align="center"><a href=/p24 ><button class="button1">Press here to see all of the messages in the last 24 hours </button></a></p>
	<p align="center"><a href="http://18.192.3.96:3000/d/TTsglUKMz/cpu-monitor?orgId=1&from=1601708564190&to=1601730164190" ><button class="button1">Press here to watch grafana monitoring </button></a></p>




{% endblock %}
